
//move to common styles
.product-menu .active-icon.sample {
    background: url("../images/product_logo_nav.png") no-repeat 0px 0px;
}
.studio-action-panel.modules li.sample .dropdown-item-icon {
    background: url("../images/product_logo_nav.png") no-repeat 0px 2px;
}
.menu-list li.menu-item .menu-item-icon.sample {
    background: url("../images/product_logo_nav.png") no-repeat 0 0;
}